In [19]:
import pandas as pd
Datos = r"..\Datos"

In [24]:
 #column = [str(input("Nombre del Comandante: "))]
Excel_Decklists = f"{Datos}\Decklists.xlsx"
df = pd.read_excel(Excel_Decklists)

In [25]:
df

                                             0 lista[0].split('.')[0]
0                     Winota, Joiner of Forces     1 Walking Ballista
1                        Sram, Senior Edificer        1 Aether Chaser
2                             Avalanche Riders        1 Myr Retriever
3                          Silverblade Paladin      1 Snapcaster Mage
4                                         Oust           1 Spellskite
..                                         ...                    ...
95                               Great Furnace  1 Snow-Covered Island
96                           Inspiring Vantage  1 Snow-Covered Island
97                                 Marsh Flats  1 Snow-Covered Island
98  Needleverge Pathway // Pillarverge Pathway  1 Snow-Covered Island
99                            Wooded Foothills  1 Snow-Covered Island

[100 rows x 2 columns]